@model IEnumerable<SMS_Core.Models.tblFeePaymentAY25>
@{
    // Layout = null;
     @* Html.EnableClientValidation(); *@
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="jQuery Splitter, Splitter Widget, Splitter, jqxSplitter" />
    <meta name="description" content="This page demonstrates splitter's events" />
    <title id='Description'>View Fee Payment</title>
    <style>
        html, body {
            height: 100%;
        }

        .MyCssClassD
{
  background:url(@Url.Content("~/Content/ico/delete.png")) no-repeat;display:block; height:24px; width:24px;
}

        .MyCssClassE
{
  background:url(@Url.Content("~/Content/ico/edit.png")) no-repeat;display:block; height:24px; width:24px;
}

        .MyCssClassP
{
  background:url(@Url.Content("~/Content/ico/Print.jpg")) no-repeat;display:block; height:24px; width:24px;
}

    </style>


    <link href="~/Content/css/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body class='default'>
    <div id="crmContentPanel">
        <div style="font-size:12px;height:40px;vertical-align:top;margin-left:10px;">

            @if (ViewBag.Desg != "Student" && ViewBag.Desg != "Employee")
            {

                <text>

                    <img src="~/_imgs/grid/Add_16_New.png" />&nbsp;@Html.ActionLink("All Reports", "Reports25", "Admin", new { target = "new" })&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </text>


            }
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Fee Payment
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTables-example1">
                            <thead>
                                <tr>
                                    <th>Course Name</th>
                                    <th>Batch Name</th>
                                    <th>FeeID</th>
                                    <th>Student Name</th>
                                    <th>Fee Receipt Amount</th>
                                    <th>Amount Paid</th>
                                    <th>Receipt No</th>
                                    <th>Receipt Date</th>
                                    <th>Mode of Payment</th>
                                    <th>Fine Amount</th>
                                    <th>Fine Reason</th>
                                    <th>Remark</th>
                                    <th>Payment Details</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var a = "";
                                    if (item.FeeCancel == "Cancelled")
                                    {
                                        a = "Red";
                                    }
                                    else
                                    {
                                        a = "";
                                    }

                                    <tr style="background-color:@a">
                                        <td>@Html.DisplayFor(modelItem => item.FeeCourseName)</td>

                                        <td>@Html.DisplayFor(modelItem => item.FeeBatchName)</td>

                                        @if (item.FeeCourseName != "" && (ViewBag.Desg != "Student" && ViewBag.Desg != "Employee"))
                                        {

                                            <!-- <td>@Html.ActionLink(item.FeeStudentID.ToString(), "FeePaymentEdit", new { id = item.FeePaymentId, FeePaymentId1 = item.FeePaymentId, FeeID = item.FeeStudentID, sclass = item.FeeCourseName, sbatch = item.FeeBatchName })</td>-->
                                            <td>@Html.DisplayFor(modelItem => item.FeeStudentID)</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(modelItem => item.FeeStudentID)</td>
                                        }
                                        <td>@Html.DisplayFor(modelItem => item.FeeStudentName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FeeTotalAmount)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TotalAmoutPaying)</td>
                                        <td>

                                            @string.Format("{0:0000}", item.FeeReceiptNo)
                                        </td>
                                        <td>

                                            @string.Format("{0:dd-MM-yyyy}", item.FeeReceiptDate)
                                        </td>

                                        <td>@Html.DisplayFor(modelItem => item.FeeModeofPay)</td>

                                        <td>@Html.DisplayFor(modelItem => item.FeeFine)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FeeFineDetails)</td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.FeeRemark)<br />
                                            @if (item.FeeModeofPay == "Cheque")
                                            {
                                                <text>Cheque No :</text>@Html.DisplayFor(modelItem => item.ChequeNo) <text>&nbsp;<br />Bank Name : </text>@Html.DisplayFor(modelItem => item.BankName)
                                            }
                                        </td>
                                        <td>
                                            <table class="table   table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Fee Category</th>
                                                        <th>Fee Actual Amount</th>
                                                        <th>Discount</th>
                                                        <th>Amount Paid</th>
                                                        <th>Staus</th>
                                                    </tr>
                                                </thead>
                                                @foreach (var lpd in item.tblFeePaymentDTAY25)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => lpd.FeeCategoryName)</td>

                                                        <td>@Html.DisplayFor(modelItem => lpd.FeeActualAmount)</td>

                                                        <td>@Html.DisplayFor(modelItem => lpd.FeeDiscount)</td>
                                                        <td>@Html.DisplayFor(modelItem => lpd.FeeAmountPaid)</td>
                                                        <td>@Html.DisplayFor(modelItem => lpd.FeeStatus)</td>

                                                    </tr>

                                                }
                                            </table>
                                        </td>
                                        <td>

                                            @if (ViewBag.erole == "admin" || User.Identity.Name == "kamlesh@satams.com" || User.Identity.Name == "admin@satams.com")
                                            {
                                                if (item.FeeCancel != "Cancelled")
                                                {
                                                    @Html.ActionLink(" ", "FeeReceiptPrint25", new { id = item.FeePaymentId }, new { @target = "new", @class = "MyCssClassP" });
                                                    @Html.ActionLink("Duplicate Print", "FeeReceiptPrintD", new { id = item.FeePaymentId }, new { @target = "new" });<br />
                                                    @Html.ActionLink("Trust receipt", "FeeReceiptPrintTrust", new { id = item.FeePaymentId, cname = item.FeeCourseName, feeid = item.FeeStudentID }, new { @target = "new" });
                                                    <br /><br /><br /><br /><br />
                                                    if (item.FeeModeofPay == "Cheque")
                                                    {
                                                        @Html.ActionLink("Cancel Receipt", "FeePaymentEditCancel", new { id = item.FeePaymentId, FeePaymentId1 = item.FeePaymentId, FeeID = item.FeeStudentID, sclass = item.FeeCourseName, sbatch = item.FeeBatchName })
                                                    }
                                                }

                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery.dataTables.js"></script>
    <script src="~/Content/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTables-example1').dataTable(
                {
                    "aaSorting": []
                }
            );


        });

    </script>
</body>
</html>