@model IEnumerable<SMS_Core.Models.lkpGradePoint>
@{
    // Layout = null;
     @* Html.EnableClientValidation(); *@
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="jQuery Splitter, Splitter Widget, Splitter, jqxSplitter" />
    <meta name="description" content="This page demonstrates splitter's events" />
    <title id='Description'>Grade Point List</title>
    <style>
        html, body {
            height: 100%;
        }

        .MyCssClassD
{
  background:url(@Url.Content("~/Content/ico/delete.png")) no-repeat;display:block; height:24px; width:24px;
}

        .MyCssClassE
{
  background:url(@Url.Content("~/Content/ico/edit.png")) no-repeat;display:block; height:24px; width:24px;
}


    </style>



    <link href="~/Content/css/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body class='default'>
    <div id="crmContentPanel">

        <div class="panel panel-default">
            <div class="panel-heading">
               Grade PointList
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Grade</th>
                                <th>From Range</th>
                                <th>To Range</th>
                                <th>Grade Point</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                                <td>@Html.DisplayFor(modelItem => item.FromRange)</td>
                                <td>@Html.DisplayFor(modelItem => item.ToRange)</td>
                                <td>@Html.DisplayFor(modelItem => item.Point)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>
                                    @Html.ActionLink(" ", "GradePointEdit", new { id = item.GradePointID }, new { @class = "MyCssClassE" })
                                    @Html.ActionLink(" ", "DeleteGradePoint", new { id = item.GradePointID }, new { @class = "MyCssClassD" })

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <script src="~/Content/js/jquery.dataTables.js"></script>
    <script src="~/Content/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });

    </script>
</body>
</html>