@model IEnumerable<SMS_Core.Models.qryReport1StudentNewT>

@{
    // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teacher's Collection Report Summary</title>
    <script src="~/Content/js/jquery.dataTables.js"></script>
    <script src="~/Content/js/dataTables.bootstrap.js"></script>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#pdates').change(function () {
                var SCat = $(this).val();
                $("#tdates").val(SCat);
            });

            $("#pdates").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-M-yy'
            });

            $("#tdates").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-M-yy'
            });

            var sum2 = 0;
            var groupColumn = 0;
            var table = $('#dataTables-example').DataTable({
                columnDefs: [{ visible: false, targets: [0] }],
                lengthMenu: [
                    [-1],
                    ['All']
                ],
                displayLength: -1,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;
                    var sum = 0;
                    var sum1 = 0;

                    var groupColumn = 0; //index of column which you are going to group by.
                    var amtColumn = 2; // index of column which you are going to sum.
                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            api.rows().data().each(function (item) {
                                if (item[groupColumn] == group) {
                                    sum = sum + (+item[amtColumn]);
                                }
                            });
                            last = group;

                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="3" style="background-color: #e7e7e7;"><b>' + group + '</b></td></tr>'

                            );

                            sum = 0;
                        }




                    });

                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            api.rows().data().each(function (item) {
                                if (item[groupColumn] == group) {
                                    sum1 = sum1 + (+item[amtColumn]);
                                    i++;
                                }
                            });
                            last = group;

                            $(rows).eq(i - 1).after(
                                '<tr><td colspan="1" style="text-align:right"><b>Sub Total</b></td><td colspan="1"><b>' + sum1 + '</b></td>  </tr>'
                            );


                            sum2 += sum1
                            sum1 = 0;
                        }
                        else {
                            if (sum2 == 0) {
                                api.rows().data().each(function (item) {
                                    if (item[groupColumn] == group) {
                                        sum2 = sum2 + (+item[amtColumn]);
                                    }
                                });
                            }
                        }

                    });

                    $("#ttlamt").html('<b>' + sum2 + '</b>');
                },
            });




        });

        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }

        function Save_confirm2() {
            if ($("#pdates").val() != "" && $("#tdates").val() != "") {
                return true;
            }
            else {

                alert("Please specify the date range")
                return false;
            }
        }
    </script>
    <div>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;Teacher's Collection Report Summary</h4>
    </div>

    <div class="panel-body">

        @using (Html.BeginForm("TeachersFeeCollectionstdView", "Admin", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <div class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-lg-4">From Date</label>
                        <div class="col-lg-4">
                            @Html.TextBox("pdates", null, new { autocomplete = "off", @Class = "form-control input-sm" })
                        </div>
                        <label class="control-label col-lg-2">&nbsp;</label>
                        <div class="col-lg-4">
                            &nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-4">To Date</label>
                        <div class="col-lg-4">
                            @Html.TextBox("tdates", null, new { autocomplete = "off", @Class = "form-control input-sm" })
                        </div>
                        <label class="control-label col-lg-2">&nbsp;</label>
                        <div class="col-lg-4">
                            &nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-4">Class</label>
                        <div class="col-lg-4">
                            @Html.DropDownList("cource", new SelectList(ViewBag.crc, "AcadamicCourceName", "AcadamicCourceName"), "", new { @Class = "form-control input-sm" })
                        </div>
                        <label class="control-label col-lg-2">&nbsp;</label>
                        <div class="col-lg-4">
                            &nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-4">Batch</label>
                        <div class="col-lg-4">
                            @Html.DropDownList("batch", new SelectList(ViewBag.bat, "BatchName", "BatchName"), "", new { @Class = "form-control input-sm" })
                        </div>
                        <label class="control-label col-lg-2">&nbsp;</label>
                        <div class="col-lg-4">
                            &nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="tags" class="control-label col-lg-2">&nbsp;</label>
                        <div class="col-lg-4">
                            <input type="submit" onclick="return Save_confirm2()" value="View Report" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>


        }

    </div>


    <div id="printableArea" style="margin-left:20px;margin-right:20px">
        <h4 style="text-align:center">
            VPM's VIDYA MANDIR <br />
            &nbsp;&nbsp;<br />

            &nbsp;&nbsp;&nbsp;&nbsp;Teacher's Collection Report Summary from @string.Format("{0:dd-MM-yyyy}", ViewBag.pdates)   to  @string.Format("{0:dd-MM-yyyy}", ViewBag.tdates) &nbsp;<br />
            @ViewBag.cource  &nbsp;&nbsp;  @ViewBag.batch
        </h4>
        <table cellspacing="5" cellpadding="5" class="table table-striped table-bordered table-hover" id="dataTables-example11">
            <thead>
                <tr>
                    <th>Fee Cource Name</th>
                    <th>Batch Name</th>
                    <th>Total</th>
                    <th>Bounce<br />Cheque</th>
                    <th>Full Year</th>
                    <th>First Half </th>
                    <th>Second Year</th>
                    <th>Admission Fee</th>
                    <th>Tution Fees</th>
                    <th>Term I</th>
                    <th>Term II</th>
                    <th>Calender</th>
                    <th>I Card</th>
                    <th>Exam Fee</th>
                    <th>VVN</th>
                    <th>Computer Fees</th>
                    <th>Escort Fees</th>
                    <th>Misc Fee</th>


                </tr>
            </thead>
            <tbody>
                @{

                    decimal? ttl = 0.00M;
                    decimal? gttl = 0.00M;

                    decimal? TermFee1 = 0.00M;
                    decimal? TermFee2 = 0.00M;
                    decimal? AdmissionFee = 0.00M;
                    decimal? MIscICard = 0.00M;
                    decimal? MiscFees = 0.00M;
                    decimal? MiscFeesMarathi = 0.00M;
                    decimal? MiscCalender = 0.00M;
                    decimal? MiscExamFees = 0.00M;
                    decimal? MiscVVN = 0.00M;
                    decimal? MiscComputerFees = 0.00M;

                    decimal? MiscMiscFees = 0.00M;
                    decimal? MiscEscortCard = 0.00M;

                    decimal? ttl1 = 0.00M;
                    decimal? gttl1 = 0.00M;

                    decimal? TermFee11 = 0.00M;
                    decimal? TermFee21 = 0.00M;
                    decimal? AdmissionFee1 = 0.00M;
                    decimal? MIscICard1 = 0.00M;
                    decimal? MiscFees1 = 0.00M;
                    decimal? MiscFeesMarathi1 = 0.00M;
                    decimal? MiscCalender1 = 0.00M;
                    decimal? MiscExamFees1 = 0.00M;
                    decimal? MiscVVN1 = 0.00M;
                    decimal? MiscComputerFees1 = 0.00M;
                    decimal? MiscMiscFees1 = 0.00M;
                    decimal? MiscEscortCard1 = 0.00M;


                    decimal? Bounce = 0.00M;

                    decimal? fullyear = 0.00M;
                    decimal? firsthalf = 0.00M;
                    decimal? secondhalf = 0.00M;

                    decimal? Bounce1 = 0.00M;

                    decimal? fullyear1 = 0.00M;
                    decimal? firsthalf1 = 0.00M;
                    decimal? secondhalf1 = 0.00M;
                }
                @foreach (var item in Model)
                {
                    ttl = item.TutionFees;
                    TermFee1 = item.TermFee1;
                    TermFee2 = item.TermFee2;
                    AdmissionFee = item.AdmissionFee;
                    MIscICard = item.MIscICard;
                    MiscFees = item.MiscFees;
                    MiscFeesMarathi = item.MiscFeesMarathi;
                    MiscCalender = item.MiscCalender;
                    MiscExamFees = item.MiscExamFees;
                    MiscVVN = item.MiscVVN;
                    MiscComputerFees = item.MiscComputerFees;
                    MiscMiscFees = item.MiscMiscFees;
                    MiscEscortCard = item.MiscEscortCard;


                    Bounce = item.Bounce ?? 0.00M;

                    fullyear = item.FullYear ?? 0.00M;
                    firsthalf = item.FirstHalf ?? 0.00M;
                    secondhalf = item.SecondHalf ?? 0.00M;
                    gttl = ttl + TermFee1 + TermFee2 + AdmissionFee + MIscICard + MiscMiscFees + MiscEscortCard + MiscFeesMarathi + MiscCalender + MiscExamFees + MiscVVN + MiscComputerFees + Bounce + fullyear + firsthalf + secondhalf;
                    <!---->
                    <tr>
                        <td>@item.FeeCourseName</td>
                        <td>@item.FeeBatchName</td>
                        <td style="text-align:right">@gttl</td>
                        <td style="text-align:right">@item.Bounce</td>
                        <td style="text-align:right">@item.FullYear</td>
                        <td style="text-align:right">@item.FirstHalf</td>
                        <td style="text-align:right">@item.SecondHalf</td>
                        <td style="text-align:right">@item.AdmissionFee</td>
                        <td style="text-align:right">@item.TutionFees</td>
                        <td style="text-align:right">@item.TermFee1</td>
                        <td style="text-align:right">@item.TermFee2</td>
                        <td style="text-align:right">@item.MiscCalender</td>
                        <td style="text-align:right">@item.MIscICard</td>
                        <td style="text-align:right">@item.MiscExamFees</td>
                        <td style="text-align:right">@item.MiscVVN</td>
                        <td style="text-align:right">@item.MiscComputerFees</td>
                        <td style="text-align:right">@item.MiscEscortCard</td>
                        <td style="text-align:right">@item.MiscMiscFees</td>

                    </tr>
                    ttl1 += ttl;
                    gttl1 += gttl;
                    TermFee11 += TermFee1;
                    TermFee21 += TermFee2;
                    AdmissionFee1 += AdmissionFee;
                    MIscICard1 += MIscICard;
                    MiscFees1 += MiscFees;
                    MiscFeesMarathi1 += MiscFeesMarathi;
                    MiscCalender1 += MiscCalender;
                    MiscExamFees1 += MiscExamFees;
                    MiscVVN1 += MiscVVN;
                    MiscComputerFees1 += MiscComputerFees;

                    MiscMiscFees1 += MiscMiscFees;
                    MiscEscortCard1 += MiscEscortCard;

                    Bounce1 += Bounce;


                    fullyear1 += fullyear;
                    firsthalf1 += firsthalf;
                    secondhalf1 += secondhalf;
                }

                <tr>
                </tr>
            </tbody>
            <tr>
                <td colspan="2" style="text-align:right"><b>Total Amount</b></td>
                <td style="text-align:right"><b>@gttl1</b></td>
                <td style="text-align:right"><b>@Bounce1</b></td>
                <td style="text-align:right"><b>@fullyear1</b></td>
                <td style="text-align:right"><b>@firsthalf1</b></td>
                <td style="text-align:right"><b>@secondhalf1</b></td>
                <td style="text-align:right"><b>@AdmissionFee1</b></td>
                <td style="text-align:right"><b>@ttl1</b></td>
                <td style="text-align:right"><b>@TermFee11</b></td>
                <td style="text-align:right"><b>@TermFee21</b></td>
                <td style="text-align:right"><b>@MiscCalender1</b></td>
                <td style="text-align:right"><b>@MIscICard1</b></td>
                <td style="text-align:right"><b>@MiscExamFees1</b></td>
                <td style="text-align:right"><b>@MiscVVN1</b></td>
                <td style="text-align:right"><b>@MiscComputerFees1</b></td>
                <td style="text-align:right"><b>@MiscEscortCard1</b></td>
                <td style="text-align:right"><b>@MiscMiscFees1</b></td>

            </tr>
        </table>
    </div>
    <input type="button" onclick="printDiv('printableArea')" value="Print" />
    <br />
    <br />
    <script src="~/Content/js/jquery.table2excel.js"></script>
    <script type="text/javascript">

        $(function () {
            $("button").click(function () {
                $("td:hidden").addClass("noExl");
                var x = $("#dataTables-example11").clone();
                $(x).find("tr td a").replaceWith(function () {
                    return $.text([this]);
                });

                $(x).table2excel({
                    exclude: ".noExl",
                    fileext: ".xlsx",
                    filename: "Teachers_Collection_Report_Summary"
                });
            });
        });

    </script>
    <button id="btncollection" class="btn btn-success">Export to Excel</button><br /><br />

</body>
</html>





