@model IEnumerable<SMS_Core.Models.tblCircular>
@{
    // Layout = null;
    @* Html.EnableClientValidation(); *@
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="jQuery Splitter, Splitter Widget, Splitter, jqxSplitter" />
    <meta name="description" content="This page demonstrates splitter's events" />
    <title id='Description'>Assignements</title>
    <style>
        html, body {
            height: 100%;
        }
         

    </style>



    <link href="~/Content/css/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body class='default'>
    <div id="crmContentPanel">
        <div class="col-lg-12">
            <div class="panel panel-default"> 
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Circular Subject</th>
                                   
                                    <th>Circular Contents</th>
                                    <th>Circular Date</th>
                                    <th>Course Name</th>
                                    <th>Batch Name</th>
                                    <th>Subject</th>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.CircularSubject)</td>
                                        
                                        <td>@Html.DisplayFor(modelItem => item.CircularContents)</td>
                                        <td>  @string.Format("{0:dd-MM-yyyy}", item.CircularDate)  </td>
                                        <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.BatchName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Subject)</td>
 
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery.dataTables.js"></script>
    <script src="~/Content/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });

    </script>
</body>
</html>