@model SMS_Core.Models.tblPurchaseOrder
@{
    // Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="jQuery Splitter, Splitter Widget, Splitter, jqxSplitter" />
    <meta name="description" content="This page demonstrates splitter's events" />
    <title id='Description'>Purchase Order</title>
    <link rel="stylesheet" href="~/Content/css/chosen.css">

    <script type="text/javascript">
        $(document).ready(function () {
            $('#PurcahseOrderId').val( @ViewBag.mno);

            $('#GrandTtl').val($('#GrandTotal').val());

            $("#PurchaseOrderDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-M-yy'
            });

            $('#VendorIDn').change(function () {
                var vna = $("#VendorIDn option:selected").text();
                var vn = $("#VendorIDn").val();
                alert(vn)
                var sss = vn.split("@@");
                $('#VendorID').val(sss[0]);
                $('#VendorName').val(sss[1]);
                $('#VendorContactName').val(sss[2]);
                $('#VendorContact').val(sss[3]);


                  $.getJSON("@Url.Content("~/Home/GetItem")", { vnd: vna}, function (data) {
                      $('#PurchaseOrderItemName').empty();
                      $('#PurchaseOrderItemName').append("<option value=\"" + "" + "\">" + "Please Select" + "</option>");
                for (i = 0; i < data.length; i++) {
                    $('#PurchaseOrderItemName').append("<option value=\"" + data[i]["InventoryItem"] + "\">" + data[i]["InventoryItem"] + "</option>");
                }
                });

            });

            // $('#footer').hide();
            $('#sav').click(function (event) {
                if ($('#VendorName').val() != "") {
                    if (!confirm('Are you sure that you want to Save')) {
                        event.preventDefault();
                    }
                    else {
                        $('#frm').submit();
                        return false;
                    }
                }
                else {
                    alert("VendorName should not be blank")
                }
            });

            $('#frmsave').click(function (event) {
                if ($('#VendorName').val() != "") {
                    if (!confirm('Are you sure that you want to Save')) {
                        event.preventDefault();
                    }
                    else {
                        $('#GrandTotal').val($('#GrandTtl').val());
                        $('#frm').submit();
                        return false;
                    }
                }
                else {
                    alert("VendorName should not be blank")
                    return false;
                }
            });
        });

    </script>
</head>
<body>
    <div style="font-size:12px;height:40px;vertical-align:top;margin-left:10px">
        @* <img src="~/_imgs/grid/SaveAndClose_16.png" />&nbsp;&nbsp; @Ajax.ActionLink("SAVE & CLOSE", null, null, null, new { id = "sav" })&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *@
    </div>


    <h3>&nbsp;&nbsp;Purchase Order</h3>

    <div class="panel">
        <div class="panel-body">
            @using (Html.BeginForm("EditPurchaseOrder", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm", @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="control-label col-lg-2">Purchase Order No.</label>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(model => model.PurchaseOrderNo, new {@Readonly=true,  @class = "form-control input-sm" })
                        @Html.HiddenFor(model => model.PurcahseOrderId, new {@Readonly=true,  @class = "form-control input-sm" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">Vendors</label>
                    <div class="col-lg-4">
                         @Html.HiddenFor(model => model.VendorID, new { @class = "form-control input-sm" })
                        @Html.TextBoxFor(model => model.VendorName, new {@Readonly=true, @class = "form-control input-sm" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">Vendors Contact Name</label>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(model => model.VendorContactName, new { @class = "form-control input-sm" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">Vendors Contact Number</label>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(model => model.VendorContact, new { @class = "form-control input-sm" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">Purchase Order Date</label>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(model => model.PurchaseOrderDate, new { @class = "form-control input-sm" })
                        @Html.HiddenFor(model => model.GrandTotal)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">Remarks</label>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control input-sm" })

                    </div>
                </div>
            }
            <br /><br />
            <div class="form-group">

                @* @Html.Action("PurchaseOrderDItem") *@

            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Grand Total</label>
                <div class="col-lg-4">
                    @Html.TextBox("GrandTtl",null, new { @class = "form-control input-sm" })
                </div>
            </div>

            <div class="form-group">
                <label for="tags" class="control-label col-lg-4">&nbsp;</label>
                <div class="col-lg-12">
                    <input type="submit" id="frmsave" value="Save" class="btn btn-primary" />
                    <button class="btn btn-primary"><i class="icon-refresh icon-white"></i> Refresh</button>
                </div>
            </div>
        </div>
    </div>



</body>
</html>