
@{
    // Layout = null;
    @* Html.EnableClientValidation(); *@
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="jQuery Splitter, Splitter Widget, Splitter, jqxSplitter" />
    <meta name="description" content="This page demonstrates splitter's events" />
    <title id='Description'>Leave </title>
    <style>
        html, body {
            height: 100%;
        }
    </style>
   
    <link href="~/Content/css/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body class='default'>
    <div id="crmContentPanel">
        <div style="font-size:12px;height:40px;vertical-align:top;margin-left:10px;">
            @if (User.Identity.Name == "admin@satams.com" || User.Identity.Name == "kamelsh@satams.com")
            {
                <text>
            <img src="~/_imgs/grid/EditRule_16.png" />&nbsp; &nbsp; @Html.ActionLink("Leave Category", "LeaveCategoryNew", "Home")&nbsp; &nbsp;
            <img src="~/_imgs/grid/EditRule_16.png" />&nbsp; &nbsp; @Html.ActionLink("Add Leave Category", "LeaveCategoryNew", "Home")&nbsp; &nbsp;
            <img src="~/_imgs/grid/EditRule_16.png" />&nbsp; &nbsp; @Html.ActionLink("Leave Details", "LeaveDetailsNew", "Home")&nbsp; &nbsp;
            </text>
            }
            <img src="~/_imgs/grid/EditRule_16.png" />&nbsp;&nbsp; @Html.ActionLink("Leave Application", "LeaveApplicationNew", "Home")&nbsp;&nbsp;
            
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                
                <div class="panel-body">
                    <div class="table-responsive">
                        @* @Html.Action("LeaveApplicationView") *@
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>